.footer__column-link {
  display: block;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  opacity: 1;
  transition: opacity 0.4s;
}
.footer__column-link:hover {
  opacity: 0.6;
}
