@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #000000;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.header__title {
  position: absolute;
  width: 730px;
  left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding: 0;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  object-fit: cover;
  right: 0;
  bottom: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;

  animation: rotation 20s linear infinite;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.techniques {
  max-width: 80%;
  margin: 100px auto;
  padding: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  padding: 0;
}

.cards__item {
  list-style-type: none;
  width: 240px;
  margin: 60px 100px 0 0;
  text-align: center;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 0 40px;
  border-radius: 50%;
}

.cards__title {
  margin: 43px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0 0;
}

.cards__description:last-child {
  margin: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto 0;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}

.table__text:last-child {
  margin: 0;
}

.feynman {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.feynman__title {
  position: relative;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 100px auto 0;
  text-align: center;
}

.feynman__subtitle {
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  top: 50%;
  right: 48px;
}

.kaufman {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: -1;
}

.table_theme_dark {
  color: white;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer {
  position: relative;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.footer__column_content_copyright {
  color: white;
  flex-basis: 711px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  bottom: 0;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  list-style-type: none;
  margin-bottom: 16px;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  display: block;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

